.blog__container {
	position: relative;
	width: 100%;
	height: 100%;
	padding-top: 100px;
}

.blog__wrapper {
	position: relative;
	padding-left: 150px;
}

.blog__header-sm p{
  font-family: 'Titillium Web', sans-serif;
  font-weight: 400;
	font-size: 2rem;
	line-height: 3.6rem;
	margin: 0;
	color: #212b35;
}

.blog__header-sm h1 {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 600;
	font-size: 4.5rem;
	line-height: 1;
    margin: 0;
    color: #212b35;
}

.blog__header-sm h2 {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 600;
  font-size: 28px;
  line-height: 1;
    margin: 0;
    color: #212b35;
}

/* cards */

.cards {
    width: 100%;
    height: 100vh;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    /*max-width: 1140px;*/
    max-width: auto;
  -webkit-justify-content: center;
  -webkit-align-items: center;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 100px;
}

.card--1 .card__img, .card--1 .card__img--hover {
    background-image: url('../assets/ds/bg7.jpg');
}

.card--2 .card__img, .card--2 .card__img--hover {
    background-image: url('../assets/ds/bg8.jpg');
}

.card--3 .card__img, .card--3 .card__img--hover {
    background-image: url('../assets/ds/bg9.jpg');
}

.card__img {
  visibility: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 235px;
  border-top-left-radius: 12px;
border-top-right-radius: 12px;
  
}

.card__info-hover {
    position: absolute;
    padding: 16px;
  width: 100%;
  opacity: 0;
  top: 0;
}

.card__img--hover {
  transition: 0.2s all ease-out;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
  position: absolute;
    height: 235px;
  border-top-left-radius: 12px;
border-top-right-radius: 12px;
top: 0;
  
}
.card {
  margin-right: 25px;
  margin-bottom: 30px;
  transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
  background-color: #fff;
  /*width: 50%;*/
  flex: 33.33%;
  max-width: 33.33%;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0,0.1);
}

.prodcard {
  margin-right: 25px;
  margin-bottom: 30px;
  transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
  background-color: #fff;
  /*width: 50%;*/
  flex: 50%;
  max-width: 50%;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0,0.1);
}
.card:hover,
.prodcard:hover {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0,0.1);
    transform: scale(1.10, 1.10);
}

.card__info {
z-index: 2;
  background-color: #fff;
  border-bottom-left-radius: 12px;
border-bottom-right-radius: 12px;
   padding: 16px 24px 24px 24px;
}

.card__category {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: 500;
  color: #868686;
}

.card__title {
    margin-top: 5px;
    margin-bottom: 10px;
    font-family: 'Titillium Web', sans-serif;
}

.card__by {
    font-size: 12px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}

.card__author {
    font-weight: 600;
    text-decoration: none;
    color: #AD7D52;
}

.card:hover .card__img--hover,
.prodcard:hover .card__img--hover{
    height: 100%;
    opacity: 0.3;
}

.card:hover .card__info,
.prodcard:hover .card__info{
    background-color: transparent;
    position: relative;
}

.card:hover .card__info-hover,
.prodcard:hover .card__info-hover {
    opacity: 1;
}

/*Products*/
.products__kiosk-container {
  position: relative;
  padding-top: 60px;
}

.products__kiosk-inner {
  max-width: 1200px;
  position: relative;
  padding: 0 20px;
  margin: auto;
}

.products__kiosk-header {
  text-align: center;
}

.products__kiosk-img {
  width: 100%;
  text-align: center;
  position: relative;
}

.products__kiosk-img img {
  width: 65%;
  position: relative;
}

.products__kiosk-row {
  display: flex;
  flex-wrap: wrap;
}
.products__kiosk-col {
  flex: 50%;
  max-width: 50%;
  box-sizing: border-box;
  padding:30px;
  align-self: center;
}

.products__kiosk-col ul li,
.products__kiosk-text ul li{
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    padding: 10px;
    letter-spacing: 0.1em;
}

.products__kiosk-col p{
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    padding: 10px;
    letter-spacing: 0.1em;
}

.products__kiosk-col h2{
    font-size: 24px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    padding: 0 10px;
    letter-spacing: 0.1em;
}

.products__kiosk-tb-inner {
  max-width: 1200px;
  padding: 0 20px;
  margin: auto;
  padding-bottom: 40px;
}

.products__kiosk-table table {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    table-layout: fixed;
}

.products__kiosk-table td {
  padding-bottom:10px; 
}

.products__kiosk-table td,
.products__kiosk-table th{
border-bottom: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.prodcard--1 .card__img, .prodcard--1 .card__img--hover {
    background-image: url('../assets/products/kiosk/k1.jpg');
}

.prodcard--2 .card__img, .prodcard--2 .card__img--hover {
    background-image: url('../assets/products/led/led2.jpg');
}