html,body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	scroll-behavior: smooth;
}

/* Landing page*/

.landingPage__container {
	/*scroll-behavior: smooth;*/
}

.landingPage__home {
	overflow: hidden;
	width: 100%;
	height:100vh;
	background: #1c1b1d;
}

.landingPage__loading-background {
	width: 70%;
    /*position: absolute;
    left: 15%;
    top: 45px;*/
    position: relative;
    left: 15%;
}

.landingPage__button {
	position: absolute;
	bottom: 5%;
	right: 53px;
	border:none;
}

.landingPage__button button{
	/*border: none;
    background: none;
    font-size: 1.3rem;
    font-weight: 500;
    letter-spacing: 3px;
    text-transform: uppercase;*/
    background: none;
  border: none;
  border-radius: 5px;
  color: white;
  display: block;
  font-size: 1.3rem;
  font-weight: bold;
  padding: 1rem 1.1rem;
  position: relative;
  text-transform: uppercase;
  z-index: 1;
  cursor: pointer;
}

.landingPage__button button a{
	text-decoration: none;
    color: white;
    padding-right: 10px;
}

canvas{
    background-color: #1c1b1d;
}

/* background loop text */
#background__looptext {
  color:#999;
  text-transform: uppercase;
  font-size:46px;
  font-weight:bold;
  /*padding-top:200px;  */
  position:absolute;
  width:75%;
  margin-left: 3%;
  bottom:5%;
  display:block;
}

#background__flip {
  height: 70px;
  overflow:hidden;
}

#background__flip > div > div {
  color:#fff;
  /*padding:0px 12px;*/
  height:35px;
  margin-bottom:50px;
  display:inline-block;
}

#background__flip div:first-child {
  animation: show 5s linear infinite;
}

/*#background__flip div div {
  background:#F26451;
}
#background__flip div:first-child div {
  background:#F26451;
}
#background__flip div:last-child div {
  background:#F26451;
}*/

@keyframes show {
  0% {margin-top:-270px;}
  5% {margin-top:-180px;}
  33% {margin-top:-180px;}
  38% {margin-top:-90px;}
  66% {margin-top:-90px;}
  71% {margin-top:0px;}
  99.99% {margin-top:0px;}
  100% {margin-top:-270px;}
}

/* NAV bar*/

nav {
	position: fixed;
	width: 100%;
	/*background: #1b1a1a0a 0% 0% no-repeat padding-box;*/
	z-index: 1500;
}

.navbar__ul {
	list-style-type: none;
	margin-right:100px;
	/*padding: 0;*/
	overflow: hidden;
	text-align: center;
}

.navbar__ul li {
	display: inline-block;
}

.navbar__ul li a {
	display: block;
	color: #c7c7c76b;
	text-align: center;
	padding: 0px 50px;
	text-decoration: none;
	font-size: 1.3rem;
	font-weight: bold;
	text-transform: uppercase;
}

.navbar__ul li a span{
	font-size: 2.5rem;
	margin: 13px;
	position: relative;
	top: 6px;
	font-weight: bold;
}

.navbar__ul li a:hover{
	color: white;
	transform: scale(1.2);
}

.navbar__ul .main-navbar__icon{
	display: none;
	color: #adaaaa;
	background: #1c1b1d;
	    border-radius: 10px;
}

.nav__selected {
	color: white !important;
	transform: scale(1.2);
}



/* Landing page HEllO text */
/*section {
	width: 100%;
	height: 100vh;
}*/

.landingPage__backgroundtext {
	position: absolute;
	width: 100%;
	overflow: hidden;
}

.landingPage__backgroundtext div:nth-child(1) {
	position: relative;
    left: 42%;
    font-size: 100px;
    color: #f7f7f7;
    animation:backgroundtext 10s infinite ease-in;
}

.landingPage__backgroundtext div:nth-child(2) {
	position: relative;
    left: 0%;
    transform: translate(60px, 54px);
    font-size: 100px;
    color: #f7f7f7;
    animation:backgroundtext 10s infinite ease-in;
}

.landingPage__backgroundtext div:nth-child(3) {
	position: relative;
    transform: translate(66px, -180px);
    left: 50%;
    font-size: 100px;
    color: #f7f7f7;
    animation:backgroundtext 10s infinite ease-in;
}

@keyframes backgroundtext {
	from {
		opacity: 0.8;
	}
	to {
		opacity: 1;
	}
}



.landingPage__hello-header {
	position: relative;
	margin-left: 20%;
	padding-top: 100px;
}

.sideContent__boxContainer {
	position: absolute;
    top: 31%;
    width: 75%;
}

.sideContent__box1 {
    background: #5555551f;
    height: 354px;
}

.landingPage__hello-header h2{
	font-size: 5rem;
	text-transform: uppercase;
    letter-spacing: 2rem;
    font-weight: bold;
}

.landingPage__hello-container {
	position: relative;
	width: 100%;
	height: 100vh;
	background: white;
}

.landingPage__hello-vertivalLine {
	position: relative;
	margin-left: 20%;
}

.landingPage__hello-bar {
	height: 200px;
	border-left: 20px solid #1c1b1d; 
}

.helloPage__text {
	position: absolute;
    top: 0px;
    left: 50px;
    width: 870px;
    margin: 15px;
}

.helloPage__text p {
	color: #1c1b1d;
	text-align: left;
	font-size: 1.4rem;
	letter-spacing: 4px;
	line-height: 1.6;
}

.helloPage__button {
	position: absolute;
	padding-top: 50px;
	right: 10%;
}

.landingPage__button button,
.landingPage__button button::after,
.helloPage__button button,
.helloPage__button button::after {
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
  -o-transition: all 0.3s;
	transition: all 0.3s;
}


.helloPage__button button a{
	text-decoration: none;
    color: #1c1b1d;
    padding-right: 10px;
}

.helloPage__button button {
  background: none;
  border: none;
  border-radius: 5px;
  color: #1c1b1d;
  display: block;
  font-size: 1.3rem;
  font-weight: bold;
  position: relative;
  text-transform: uppercase;
  z-index: 1;
  cursor: pointer;
}

/*.landingPage__button button::before,
.landingPage__button button::after,
.helloPage__button button::before,
.helloPage__button button::after {
  background: #F26451;
  content: '';
  position: absolute;
  z-index: -1;
}*/

.landingPage__button button:hover,
.landingPage__button button a:hover,
.helloPage__button button:hover,
.helloPage__button button a:hover {
  color: #43D1D2;
}

.landingPage__button button::after,
.helloPage__button button::after {
  height: 100%;
  left: 0;
  top: 0;
  width: 0;
}

.landingPage__button button:hover:after,
.helloPage__button button:hover:after {
  width: 100%;
}


/* landingPage__capabilities*/
.landingPage__services-container {
	overflow: hidden;
}

.landingPage__capabilities-container {
	display: none;
}

.landingPage__cap-header {
	position: relative;
	left: 10%;
}

.landingPage__cap-header span{
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
}

.landingPage__cap-header span:nth-child(1) {
	color: #8e8e8e;
	font-size: 50px;
}

.landingPage__cap-header span:nth-child(2) {
	color: #8e8e8e;
	font-size: 80px;
}


/* landing page side menu*/
.cap__container {
	position: relative;
	overflow: hidden;
}

.sideContent__boxContainer2 {
	position: absolute;
    top: 0%;
    right: 0;
    width: 75%;
}

.sideContent__box2 {
	background: #1c1b1d !important;
    height: 450px;
    position: relative;
}

.bgc-1 {
	color: #43D1D2;
}

.bgc-2 {
	color: #06B3AD;
}

.bgc-3 {
	color: #23A4C1;
}

.bgc-4 {
	color: #4782BC;
}

.bgc-5 {
	color: #7F65BC;
}

.sideContent__box2 h2{
    font-size: 2.5rem;
    padding-top: 35px;
    left: 5%;
    position: relative;
    color: white;
}

.sideContent__box2 ul{
	margin:20px;
}

.sideContent__box2 ul li{
	list-style: none;
	font-size: 1.4rem;
	padding: 5px;
	margin:10px;
}

.sideContent__img {
	position: absolute;
	width: 100%;
	/*overflow: hidden;*/
	left: 48%;
	top: 20%;
}

.sideContent__img img {
	width: 40%;
}

.capfloat {
	animation:float 3s ease-in-out infinite normal none running;
}

@keyframes float {
	0%{
	    transform: translatey(0);	
}

50% {
    -webkit-transform: translatey(-20px);
    transform: translatey(-20px);
}
100% {
    -webkit-transform: translatey(0);
    transform: translatey(0);
}
}

.landingPage__sideMenu {
	position: relative;
	left: 0;
}

.landingPage__sideMenu ul {
	list-style: none;
	display: block;
	font-size: 1.3rem;
	width: 350px;
	letter-spacing: 3px;
	padding: 0;
}

.landingPage__sideMenu li {
	padding: 10%;
}

#sidemenu__list1 {
	border-left: 20px solid #43D1D2;
}

#sidemenu__list1,
#sidemenu__list2,
#sidemenu__list3,
#sidemenu__list4,
#sidemenu__list5 {
	cursor: pointer;
}

#sidemenu__list1:hover{
border-left: 20px solid #43D1D2 !important;
}
#sidemenu__list2:hover{
border-left: 20px solid #06B3AD !important;
}
#sidemenu__list3:hover{
border-left: 20px solid #23A4C1 !important;
}
#sidemenu__list4:hover{
	border-left: 20px solid #4782BC !important;
}
#sidemenu__list5:hover {
	border-left: 20px solid #7F65BC !important;
}

#sideContent__list2,
#sideContent__list3,
#sideContent__list4,
#sideContent__list5 {
	visibility: hidden;
}



/* Landingpage__ourwork */

.float-left {
	float: left;
}

.float-right {
	float:right;
}

.landingPage__ourwork-Container {
	position: relative;
	width: 100%;
	box-sizing: border-box;
	overflow: hidden;
}

.landingPage__box-Container {
	position: relative;
	width: 80%;
	padding-top: 100px;
	overflow: hidden;
}

.sideContent__box-left {
	height: 520px;
	background: #01001b;
	position: relative;
}

.sideContent__box-right {
	height: 520px;
	background: #1c1b1d;
	position: relative;
	right: 0;
}



.landingPage__ourwork-header {
	position: relative;
	left: 70%;
}

.landingPage__ourwork-header span{
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
}

.landingPage__ourwork-header span:nth-child(1) {
	color: #8e8e8e;
	font-size: 50px;
}

.landingPage__ourwork-header span:nth-child(2) {
	color: #8e8e8e;
	font-size: 80px;
}

.video__container {
	position: absolute;
	left: 5%;
	top: 0%;
	width:  355px;
	box-shadow: 2px 0px 5px 2px #572d78;
}

.video__container-right {
	position: relative;
	top: -15%;
	width:  355px;
	padding-right: 70px;
	float: right;
}

#video {
	width: 100%;
}

.ourwork__header {
	position: relative;
	float: right;
	padding-right: 70px;
	top: 15%;
}

.ourwork__header-right {
	position: absolute;
	left: 10%;
	top: 15%;
}

.ourwork__header-right h1,
.ourwork__header h1 {
	font-size: 120px;
	color: #fff;
	text-transform: uppercase;
}

/*landingPage__brands*/

.landingPage__brands-container {
	position: relative;
	left: 15%;
	width: 65%;
	height: auto;
	margin: 20px;
	padding: 20px;
	text-align: center;
	background: #1c1b1d;
}

.landingPage__brands-container img {
	margin: 3rem 5rem;
	width: 80%;
	height: 50%;
}

.landingPage__brands-header {
	position: relative;
	text-align: center;
	padding-top: 70px;
}

.landingPage__brands-header h2{
	font-size: 2.5rem;
	text-transform: uppercase;
    letter-spacing: 1.5rem;
    font-weight: bold;
}

/* LandingPage__Global presence*/
.landingPage__global-container {
	position: relative;
	left: 22%;
	width: 65%;
	height: auto;

	display: flex;
	flex-direction: row;
	flex-flow: wrap;
}

.global__boxlist1 {
	width: 30%;
	height: 300px;
	margin: 5px;
	box-sizing: border-box;
}

.global__boxlist1 ul li{
	list-style: none;
	font-size: 1.3rem;
	padding: 3px;
	text-transform: uppercase;
}

.global__boxlist1 span{
	font-size: 25px;
	margin: 25px;
	text-transform: uppercase;
}

.global__countries {
	font-size: 56px;
	margin: 10px;
	padding:30px;
}

.global__countriesBox span{
	font-size: 16px;
}

/** main global impact**/

.main__globalimpact .container {
    margin: 0 auto;
}

.section-heading__globalimpact {
	text-align: center;
}

.global__counter{
	position: relative;
}

.section-heading__globalimpact h1 {
	margin: 0;
	font-size: 5.5em;
	font-family: "Roboto", sans-serif;
	color: #43d1d0;
	text-align: left;
	font-weight: 500;
	padding-left: 150px;
	text-transform: uppercase;
	letter-spacing: 7px;
}

.section-heading__globalimpact span {
	margin: 0;
    font-size: 2.5em;
    font-family: "Roboto", sans-serif;
    color: #43d1d0;
    text-align: left;
    font-weight: 500;
    padding-left: 150px;
    text-transform: uppercase;
    position: absolute;
    top: 44%;
    left: 140px;
}

.section-heading__globalimpact h3 {
	color: #141414;
	font-size: 2.75em;
	padding-top: 40px;
	margin:0;
    padding-bottom: 25px;
	font-weight: 100;
	text-align: left;
    padding-left: 150px;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.globalimpact__imglarge {
	width: 70%;
	padding-right: 130px;
	padding-bottom: 5rem;
}

.globalimpact__imgsmall {
	display: none;
}

/** Footer CSS Start here **/
.footer {
	background: #1c1b1d;
	color: #fff;
	height: 315px;
	position: relative;
}

.footer .footer-content {
	height: 300px;
	display: flex;
}

.footer .footer-content .footer-section {
	flex: 1;
	padding:25px;
}


.footer .footer-content .footer__logo img {
	margin:30px;
	padding-left: 50px;
	width: 120px;
    height: 50px;

}

.footer .footer-content h1,
.footer .footer-content h2 {
	color: #fff;
	text-transform: uppercase;
}

.footer .footer-content .footer__contact .footer__contacts span,
.footer .footer-content .footer__contact .footer__contacts a {
	display: -webkit-box;
	font-size: 1.1em;
	margin-bottom: 8px;
	color: #fff;
	text-decoration: none;
	transition: all .3s;
}

/*.footer .footer-content .footer__contact .footer__socials a {
	color: #fff;
	width: 45px;
	height: 41px;
	padding-top: 3px;
	padding-right: 3px;
	text-align: left;
	display: inline-block;
	font-size: 1.3em;
}*/

.footer .footer-content .footer__contact .footer__socials a:hover{
	color: #C7C7C7;
}
.footer .footer-content .footer__contact .footer__contacts a:hover {
	color: #C7C7C7;
	
	transition: all .3s;
}

.footer .footer-content .footer__services a,
.footer .footer-content .footer__step a {
	display: block;
	margin-bottom: 10px;
	font-size: 1.2em;
	text-decoration: none;
	color: #fff;
}

.footer .footer-content .footer__services a:hover,
.footer .footer-content .footer__step a:hover {
	color: #C7C7C7;
	transition: all .3s;
}



.footer .footer-bottom {
	background: ;
	height:50px;
	width: 100%;
	text-align: center;
	position: absolute;
	bottom: 0px;
	left: 0px;
	padding-top: 20px;
}



/** Main work with us **/

.workwithus__container{
	width: 100%;
	max-width: 120rem;
	height: 100%;
	margin: 0 auto;
	position: relative;
	margin-top: 67px;
	background: #1c1b1d;
}

.section-heading__workwithus {
	
	/*margin: 18rem 0;*/
}


.section-heading__workwithus h3 {

	color: #c7c7c7;
	font-size: 1.75em;
	font-weight: 500;
	padding-left: 150px;
	padding: 50px 0 20px 150px;
	text-align: left;
	letter-spacing: 2px;
}

.section-heading__workwithus p {
	font-size: 1.4rem;
	font-weight: 500;
	color: #666666;
	margin: 8rem 15rem;
}

.workwithus-button {
	width: 80px;
	height: 46px;
	background: #fff;
	border-radius: 7px;
	border-style: none;
	padding: 10px;
	text-align: center;
	margin: 10px;
	cursor: pointer;
	margin-bottom: 6%;
}

input[value="Send"] {
	color: #141414;
}

.section-heading__workwithus form .workwithus-input__text {
	background: #F9F9F9;
	color: #1A1A1A;
	margin-bottom: 10px;
	line-height: 1.5rem;
	padding:.7rem 1.4rem;
	border: 1px solid #D3D3D3;
    border-radius: 4px;
    box-sizing: border-box;
    width: 100%;
}

.section-heading__workwithus form .workwithus-input__textarea {
	background: #F9F9F9;
	color: #1A1A1A;
	margin-bottom: 10px;
	line-height: 1.5rem;
	padding:0.5rem 1rem;
	border: 1px solid #D3D3D3;
    border-radius: 4px;
    box-sizing: border-box;
    width: 100%;
    height: 133px;
    resize: none;
}

.workwithus__label, 
.workwithus__label_textarea{
	margin-bottom: 5px;
	text-align: left;
}
.workwithus__label label,
.workwithus__label_textarea label{
	font-weight: bold;
	color: #fff;
}

.workwithus__label label span{
	color: #B41918;
	font-size: 1em;
}

.workwithus__label_textarea label span{
	color: #fff;
	font-size: 1em;
}

.workwithus__form {
	width: 90%;
	display: inline-block;
	margin: 25px 0;
}

.workwithus__topform,
.workwithus__middleform  {
	width: 100%;
	min-height: 65px;
	margin: 10px 25px;
}


.workwithus__topform .workwithus__innerform {
	width: 45%;
	float: left;
	margin-right: 5%;
}

.workwithus__topform .workwithus__innerform:last-child {
	margin-right: 0;
}

.workwithus__bottomform {
	text-align: left;
	padding-left: 12px;
}

.contact__container {
	position: relative;
	width: 100%;
	height: 100%;
	padding-top: 100px;
}

.contact__wrapper {
	position: relative;
	padding-left: 150px;
}

.contact__header-sm p{
	font-size: 2rem;
	line-height: 3.6rem;
	margin: 0;
	color: #212b35;
}

.contact__header-sm h1 {
	font-size: 7rem;
	line-height: 1;
    margin: 0;
    color: #212b35;
}